
@font-face {
	font-family: 'NeueMontreal';
	src: url('./assets/fonts/NeueMontreal-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.font-neueMontreal {
	font-family: 'NeueMontreal', sans-serif;
}

@font-face {
	font-family: 'FoundersGrotesk-Semibold';
	src: url('./assets/fonts/FoundersGrotesk-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.font-foundersGrotesk {
	font-family: 'FoundersGrotesk-Semibold', sans-serif;
}

@font-face {
	font-family: 'icomoon';
	src: url('./assets/fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.font-icomoon {
	font-family: 'icomoon', sans-serif;
}

.cards{
	transition: transform 0.5s ease;
}
.cards:hover {
  transform: scale(0.95); /* shrink the div */
}
.imagwa{
	transition: transform 0.8s ease;
}
.imagwa:hover {
  transform: scale(1.1); /* zoom in the image */
}
